<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 
</head>
<body >



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
          <div class="well" style="box-shadow: 5px 5px  20px">
              <p style="font-size: 40px;color: blueviolet"><i class="material-icons" style="font-size: 50px;color: blueviolet" >
                  done_outline
                  </i> {{No_of_Executed}} Tests Executed<p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well" style="box-shadow: 5px 5px  20px">
            <p style="font-size: 40px;color: blueviolet;"><i class="material-icons" style="font-size: 70px;color: blueviolet">
                access_time
                            </i>15 Hours  Saved </p> 
            
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well" style="box-shadow: 5px 5px  20px ">
            <p style="font-size: 40px; color: blueviolet"><i class="material-icons" style="font-size: 50px; color: blueviolet">
                supervisor_account
                </i> 8 Teams Working </p> 
             
          </div>
        </div>
      </div>
  
    
   
      
      <div class="row">
        
        <div class="col-sm-8">
          <div class="well" style="box-shadow: 5px 5px   20px; height:auto ;">
            <app-graph></app-graph>
             
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well" style="box-shadow: 5px 5px   20px; height:auto ;">
            <i class="material-icons" style="font-size: 350px; color: blueviolet">
              pie_chart
              </i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" >
          <div class="well"style="box-shadow: 5px 5px  20px ;height:auto" >
            <Test_Interval></Test_Interval>
            
          </div>
        </div>
        
      </div>
     
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
       
      </div>
    

</div>

</body>
</html>
