<div class="col-md-12" style="background-color: #fff;">
	 	<div style="padding:10px;">
		 	<label>Time Scale</label>
		 	<select id="">
	             <option value="1">Days</option>
	             <option value="2">Months</option>
	             <option value="3">Years</option>
            </select>
            <date_range></date_range>
          

 </div>
        
<div  class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas
        baseChart id="chart"
        [chartType]="'line'"
        [datasets]="chartData"
        [options]="chartOptions"        
        [legend]="true"
        [colors]="colors"
        (chartClick)="onChartClick($event)">
    </canvas>
    </div>